/*
PAINEL DE CONTROLE 
Versão 2.4

Criado e desenvolvido por:
GABRIEL DA CUNHA 
contato@gabrieldacunha.com.br
*/

* {
    margin: 0px;
    padding: 0px;
}
html {
    overflow-x: hidden;
}
body {
    background:#FC7654;
    font-family: 'Open Sans', sans-serif;
}
a:link, a:active, a:visited {
    color: #999;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #333;
}
#content {
    color: #333;
    width: 1200px;
    min-height: 770px;
    text-align: center;
    margin: 0px auto;
    padding: 0;
}
#content2 {
    color: #333;
    width: 1200px;
    text-align: center;
    background: #FFF;
    margin: 40px auto;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(13,25, 77, .2);
    box-shadow: 0px 0px 30px 0px rgba(13,25, 77, .2);
}
#content2 h1 {
    letter-spacing: -1px;
    font-size: 30px;
    margin: 40px;
    color: #3E3751;
    font-weight: bold;
}
 
#content2 .campos {
    width:200px;
}
#nav {
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    text-align: left;
    float: left;
}
#nav p {
    margin: 20px 0px 20px 15px;
    font-size: 18px;
    font-weight: 600;
    width: 170px;
    color: #3e3751;
    text-align: center;
}
#nav ul {
    padding: 0px;
    margin: 0px;
    background: #020924;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(13,25, 77, .2);
    box-shadow: 0px 0px 30px 0px rgba(13,25, 77, .2);
}
#nav ul li {
    list-style: none;
    margin-bottom: 1px;
}
#nav img {
  width: 140px;
  margin: 20px 30px 0px;
}
.buttonmenu a:hover {
    background: #9279a4;
}
.buttonmenu2 a:hover {
    background: #d3b45a;
}
.ativo {
    color: #3e3751 !important;
    background: #9279a4 !important;
}
.verde {
  background: #6E9464 !important;
}
#nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-size: 14px;
    padding: 15px 15px;
    width: 170px;
    display: block;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}
#nav ul li:nth-child(18) a {
 border-bottom: none;
}
.section {
    margin-left: 0px;
    padding: 0px 50px 20px 50px;
    float: left;
    width: 900px;
    min-height: 500px;
    background-color: #FFF;
    -webkit-box-shadow: -10px 0px 30px 0px rgba(13,25, 77, 0.4);
    box-shadow: -10px 0px 30px 0px rgba(13,25, 77, 0.4);
    }
.section select {
    width: 100%;
    height: 45px;
    text-indent: 5px;
    background: #ede4c9;
}
h1, .enviado {
    letter-spacing: -1px;
    font-size: 60px;
    color: #13134B;
    font-weight: bold;
}
h2 {
    letter-spacing: -1px;
    font-size: 30px;
    text-align: left;
    color: #3E3751;
    font-weight: bold;
    margin: 15px 0px 20px 0px;
}
h3 {
    letter-spacing: -1px;
    font-size: 14px;
    text-align: left;
    width: 100%;
    color: #13134B;
    font-weight: bold;
    margin: 10px 0px;
}
.p2 {
    font-size: 14px;
    text-align: center;
    color: #333;
    line-height: 25px;
}
.nao {
    background: #FFDECB !important;
}
.fontetopo {
    letter-spacing: -1px;
    font-size: 20px;
    color: #444;
    font-weight: bold;
}
.buttonmenu {
    background-color: rgb(62,55, 81);
}
.buttonmenu2 {
    background-color: #b6a1c5;
}
.buttonmenu3 {
    background-color: #c26c67;
    text-indent: 20px;
}
.buttonmenu4 {
    background-color: #d59794;
    text-indent: 30px;
}
.buttoninterno {
    font-size: 18px;
    border: 1px solid #d3b45a;
    color: #FFF;
    background: #e8c662;
    width: 100%;
    height: 45px;
}
.buttonifrs {
    font-size: 18px;
    border: 1px solid #d3b45a;
    color: #FFF;
    background: #e8c662;
    width: 230px;
    height: 45px;
}
.buttoninterno:hover {
    color: #fff;
    border: 1px solid #999;
    background: #676767;
}
.buttoninterno2 {
    font-size: 18px;
    border: 1px solid #18112b;
    color: #FFF;
    background: #3E3751;
    width: 100%;
    height: 45px;
}
.buttoninterno2:hover {
    color: #fff;
    border: 1px solid #d3b45a;
    background: #e8c662;
}
.buttoninterno4 {
    font-size: 14px;
    width: 30px !important;
    margin-right: 2px;
    border: 1px solid #7c9a4a;
    color: #FFF;
    background: #90b356;
    height: 30px;
}
.buttoninterno4:hover {
    color: #fff;
    border: 1px solid #d3b45a;
    background: #e8c662;
}
.btimg {
    width: 150px;
    height: 30px;
}
.exclui {
    background: #eaac97;
}
.exclui:hover {
    color: #3E3751;
    border: none;
    background: #FFF;
}
.meiobutton {
    width: 45%;
}
.esquerda {
    margin-right: 20px;
}
.cadastro p {
    float: left;
    width: 110px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: right;
}
#topoesq {
    width: 60%;
    text-align: left;
    float: left;
    clear: right;
}
#topodir {
    float: right;
    width: 20%;
    text-align: right;
    text-decoration: none;
}
#botoes2 {
    width: 95px;
    height: 70px;
    float: right;
}
#botoes {
    float: right;
    width: 210px;
}
.campos {
    font-size: 14px;
    color: #333;
}
.campos2 {
    font-size: 14px;
    color: #333;
    height: 30px;
    width: 890px;
    padding: 0px 0px 0px 10px;
}
.campos3 {
    font-size: 14px;
    color: #333;
    width: 80px;
    height: 23px;
    margin-right: 10px;
    padding: 0px 0px 0px 10px;
}
.campos4 {
    font-size: 14px;
    color: #333;
    width: 160px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    padding: 0px 0px 0px 10px;
}
p {
    font-size: 14px;
    margin: 5px 5px 5px 0px;
}
input {
    font-family: 'Open Sans', sans-serif;
    width: 490px;
    border: 1px solid #999;
    color: #333;
    background: #EEE;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}
input:hover {
    border: 1px solid #999;
    color: #000;
    background: #d0cfcf;
}
input[type="text"]:disabled {
    opacity: 0.5;
}
input[type="radio"], input[type="checkbox"] {
    width: 20px;
}
textarea {
  height: 120px !important;
  padding: 10px !important;
  width: 880px !important;
}
.direita {
    float: right;
    clear: right;
}
.linha {
    font-size: 14px;
    margin: 10px 0px;
}
.button {
    font-size: 14px;
    color: #FFF;
    border: none;
    background: #D2823B;
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
}
.button:hover {
    color: #FFF;
    border: none;
    background: #606062;
}
.label {
    float: left;
    text-align: right;
}
.meutexto {
    font-size: 12px;
    color: #333;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}
form {
    text-align: left;
    width: 900px;
}
form input {
    margin: 5px 0px;
    padding: 10px 15px;
}
input[type=submit] {
    width: 230px;
    margin-top:30px;
}
small {
    letter-spacing: -1px;
    color: #333;
}
span {
    clear: both;
    width: 100%;
    display: block;
}
.novo {
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
}
.novo3 {
    height: 45px;
}
.novo2 {
    height: 30px;
    float: right;
    margin-top: -60px;
}
.novo h3 {
    float: left;
    margin: 15px 0px 0px;
    line-height: 30px;
}
.novo input, .novo3 input {
    width: 200px;
    float: left;
}
.listagem {
    width: 890px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.listagem li {
    margin: 0px 10px 0px 0px;
    padding: 0;
	padding-left:10px;
    min-height: 40px;
    line-height: 50px;
    text-align: left;
    border: 1px solid #d3d3d3;
    background: #F3F3F3;
    width: 340px;
    float: left;
    margin-bottom: 10px;
}
#sortable li {
    width: 100%;
    float: left;
}
.listagem li input {
    float: right;
    width: 85px;
    height: 35px;
    margin: 8px 8px;
    font-size: 16px;
    border: none;
}
#sortable li input, #sortable4 li input, #sortable5 li input {
    clear: none;
}
.listagem li p {
    height: 50px;
    width: 480px;
    overflow: hidden;
    float: left;
    margin: 0px;
}
.listagem li div {
    height: 50px;
    width: 450px;
    overflow: hidden;
    font-size: 14px;
    float: left;
    margin: 0px;
}
.ui-state-default .ui-icon {
    float: left;
    margin-top: 17px;
    margin-left: -6px;
    margin-right: 3px;
}
li img {
    height: 100px;
    margin-top: 8px;
    margin-bottom: -5px;
}
.centraliza {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}
.break {
    width: 100%;
    clear: both;
}
.timer {
    color: #fff;
    text-align: center;
}
.dispara {
    text-align: left !important;
}
.listagem p {
    width: 100%;
    float: left;
}
/*.listagem img {
    margin: 0px;
}*/
 
audio {
    width: 220px;
    margin-top: 5px;
}
.fundos li {
    width: 320px !important;
}
.fundos img {
    margin-bottom: 12px !important;
    float: left !important;
    clear: left !important;
}
.fundos li p {
    max-width: 100px;
    text-align: center;
    float: right;
}
.fotos {
    width: 100%;
}
.itemmidia {
    margin: 10px 10px 10px 0px;
    padding: 10px;
    text-align: left;
    border: 1px solid #d3d3d3;
    background: #F3F3F3;
    float: left;
    width: 880px;
}
.itemmidia input {
    float: right;
    width: 105px;
    height: 45px;
    margin: 5px;
    clear: right;
    border: none;
}
 
.itemmidia img {
width: 50%;
}
 
.itemmidia .texto {
    overflow: hidden;
    height: 60px;
    width: 200px;
    float: left;
}
input[type="file"] {
    width:500px !important;
}
.n {
    background:#f4d9d0 !important;
}
 
.real img {
    width: initial;
}
 
#footer {
  margin-top: 40px;
  height: 60px;
  width: 1000px;
  float: right;
  padding-bottom: 0px;
  background-image: url(../footer.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  margin-bottom: 60px;
}
.intro {
  width: 100% !important;
  }
  
#footer::after {
  content: "DESENVOLVIDO POR WWW.GABRIELDACUNHA.COM.BR";
  float: left;
  margin-top: 90px;
  text-align: center;
  width: 100%;
  color: rgba(255,255,255,0.5);
  font-size: 10px;
}