* {
	margin: 0px;
	padding: 0px;
}

/*FONTES*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,500italic,400italic,700italic,300italic,300);
html {
	background:url(../img/textura2.png) repeat;
	opacity:0;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
*:focus {
	outline: none;
}
body {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	text-align: left;
	overflow-x: hidden;
	color: #FFF;
	width: 100%;
	float: left;
}
.base {
	position: relative;
	margin: 0px auto;
	width: 1000px;
}
.cf:before, .cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
::selection {
 background: #0371ae;
 color: #fff;
}
::-moz-selection {
 background: #0371ae;
 color:#fff;
}
.hidden {
	display: none;
}
a:link, a:visited, a:active {
	color: #0371ae;
	text-decoration: underline;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
a:hover {
	opacity: 0.5;
}
p {
	color: #0371ae;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	text-align: justify;
	margin: 5px 0px 5px 0px;
}
#header {
	opacity: 0;
	z-index: 999;
	position: relative;
	top: -140px;
	width: 100%;
	height: 300px;
	float: left;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.logo {
	opacity: 0;
	float: right;
	margin-top: 10px;
}
.logo a {
	display: block;
	width: 465px;
	height: 120px;
	margin-left:0px;
	text-indent: -9999em;
	background: url(../img/logo.png) no-repeat left bottom;
	transition: all 0.3s ease;
}
.logo a:hover {
	margin-left:20px;
	opacity: 0.5;
}
#barra {
	background: url(../img/textura1.png) repeat;
	height: 28px;
}
#menu {
	opacity: 0;
	float: left;
	margin-top: -40px;
}
#menu ul {
	padding: 0px;
	margin-top: 60px;
}
#menu ul li {
	float: left;
	list-style: none;
	margin-right: 20px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}
#menu ul li a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #FFF;
	font-size: 20px;
	font-weight: 400;
	line-height: 40px;
	text-align: center;
	display: block;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
#menu ul li a:hover {
	opacity: 0.6;
}
#submenu {
	float: left;
}
#submenu ul {
	padding: 0px;
	margin-top: 30px;
}
#submenu ul li {
	float: left;
	list-style: none;
	margin-right: 20px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}
#submenu ul li a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #FFF;
	font-size: 20px;
	font-weight: 400;
	line-height: 40px;
	text-align: center;
	display: block;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
#submenu ul li a:hover {
	opacity: 0.6;
}
#section {
	z-index: 10;
	margin-top: 40px;
	opacity: 0;
	float: left;
	text-align: center;
	width: 100%;
}
/*FOOTER*/
#footer {
	z-index: 999;
	float: left;
	width: 100%;
	height: 200px;
	margin-top: 40px;
	position: relative;
	background:url(../img/textura1.png) repeat;
	bottom: -200px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
address {
	font-family: 'Roboto', sans-serif;
	text-align: right;
	font-style: normal;
	float:right;
	font-size: 18px;
	margin-top: 100px;
	font-weight: 400;
}
address a {
	color:#fff !important;
}
h1 {
	font-size: 35px;
	margin: 0px 0px 30px;
	font-weight: 300;
	color: #000;
	text-align: left;
}
h2 {
	font-size: 24px;
	text-transform:uppercase;
	margin:30px 0px 15px;
	color: #0371ae;
	text-align: left;
	font-weight: 400;
}
#section img {
	border: 0;
	margin: 20px;
}
.fixo {
	position:fixed !important;
}
