.inputInicial{
font-family:"Aleo";
color:#4C1F0C;
outline:none;
border:none;
font-size:137%;
font-weight:bold;
vertical-align:middle;
}

.msg{
    font-family:"Aleo";
    color:#4C1F0C;
    font-size:160%;
    text-align:center;
    font-weight:bold;



}